---
import { string } from "astro/zod";
import type { CollectionEntry } from "astro:content";

interface Props {
  project: CollectionEntry<"projects">;
}

// `project` will match your 'blog' collection schema type
const { project } = Astro.props;
---

<a
  class="grid grid-cols-1 grid-rows-2 relative shadow-md shadow-zinc-300 hover:shadow-emerald-300 dark:border-gray-50  w-full h-96"
  href=`/projects/${project.slug}`
>
  <img
    class="h-full w-full object-cover blur brightness-75"
    src={project.data.image.url}
    alt={project.data.image.alt}
  />
  <div class="grid grid-rows-5 gap-3 p-4 text-sm md:text-base">
    <h2
      class="absolute top-14 left-1/2 -translate-x-1/2 text-white w-full px-2 text-center"
    >
      {project.data.title}
    </h2>
    <i><b>Period:</b> {project.data.duration}</i>
    <p class="row-span-2"><b>Description:</b> {project.data.description}</p>
    <p class="row-span-2">
      <b>Tech:</b>{
        project.data.tags.map((tag: string) => (
          <span class="space-x-4 capitalize"> {tag} ,</span>
        ))
      }
    </p>
  </div>
</a>

<style>
  p {
    @apply h-full text-clip overflow-hidden;
  }

  a:hover img {
    @apply brightness-100 blur-none
  }
</style>
